<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Java Libraries</h1>
      <p class="lead">Keep up with the latest news about java libraries</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">About</h3>
          <p class="card-text">
            <strong>No tutorial projects, no dummy-hobby-neverready projects</strong>
            Collection of 22k+ libraries from maven repository. 6k+ projects ready to by discovered. Provide summary of 3k+ real projects
            what was published on GitHub. There are listed only projects what were released on maven repository.
          </p>
          <p class="card-text">
            <strong>Check your dependencies</strong>

          </p>
          <ul class="list-group">
            <li class="list-group-item">Is there newer version?</li>
            <li class="list-group-item">Are there new git pushes?</li>
            <li class="list-group-item">Do people love it?</li>
            <li class="list-group-item">Has it some history?</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Most popular GitHub libraries</h3>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item justify-content-between">
                <a href="#">spring-framework</a>
                <span class="badge badge-dark badge-pill">19386 stars</span>
              </li>
              <li class="list-group-item justify-content-between">
                  <a href="#">uCrop</a>
                <span class="badge badge-dark badge-pill">6702 stars</span>
              </li>
              <li class="list-group-item justify-content-between">
                  <a href="#">jedis</a>
                <span class="badge badge-dark badge-pill">6273 stars</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
