<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Java Libraries</h1>
      <p class="lead">Keep up with the latest news about java libraries</p>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Search!</button>
          </span>
        </div>
    </div>
    <a href="" routerLink="/">Home</a>
    <a href="" routerLink="/repo">Repo</a>
    <a href="" routerLink="/lib">Lib</a>
  </div>

  <router-outlet></router-outlet>
</div>
