<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="jumbotron" style="margin-bottom: 0">
        <div class="container">
          <h1 class="display-3">Java Libraries</h1>
          <p class="lead">Keep up with the latest news about java libraries</p>
        </div>
    </div>
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link" routerLinkActive="active" href="" [routerLink]="['pom']">Search pom</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="" [routerLink]="['project']">Search github</a>
    </nav>
  <router-outlet></router-outlet>
</div>
