<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h3>
          graeme-lockley/jfixtures
        </h3>
      </div>
      <div class="col-sm-4 text-right">
        <span class="badge badge-secondary">125 stars</span>
        <span class="badge badge-secondary">84 watchers</span>
        <span class="badge badge-secondary">21 forks</span>
      </div>
    </div>
    <div>
      Having spent some time in the rails and play world I missed a simple yet effective fixtures tool to load data into systems
      that I work.
    </div>
    <span class="badge badge-primary">activemq:activemq-itest-ejb:3.2.2</span>
    <span class="badge badge-primary">activemq:activemq-optional:3.2.2</span>
    <span class="badge badge-primary">activemq:activemq-gbean:3.2.2</span>
  </div>
  <div class="col-sm-12">
      <strong>Home page: </strong>www.google.sk
    </div>
  <div class="col-sm-12">
    <strong>Created at: </strong>2014-03-15T12:36:22
  </div>
  <div class="col-sm-12">
      <strong>Pushed at: </strong>2016-04-30T05:45:55
    </div>
</div>
