<div class="input-group">
    <input (keyup)="search($event.target.value)" type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button">Search!</button>
    </span>
  </div>
<div *ngFor="let project of projects" class="card border-white">
  <div class="card-body">
    <a href="" [routerLink]="['/project', project._id]"><h5 class="card-title">{{project.name}}</h5></a>
    <h6 class="card-subtitle mb-2 text-muted">{{project.description}}</h6>
    <span class="badge badge-secondary">{{project.stargazers}} stars</span>
        <span class="badge badge-secondary">{{project.watchers}} watchers</span>
        <span class="badge badge-secondary">{{project.forks}} forks</span>
  </div>
</div>
